body {
    background-color:#67DFD4 ;
    font-family: 'IBM Plex Sans', sans-serif;
    text-transform: uppercase;;
    
}

.container {
    position: absolute;
    width: max-content;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    
}

#submitButton {
    width: 100%;
}

.form{
    width: 300px;
}

.heading{
    font-weight:bolder;
}

hr{
    height: 2px;
    background-color: #E6E6E3;
    border: none; 
}


.detailBox{
    border: 1px solid #E6E6E3;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 5px;;
}

#cvvBox{
    width: 10%;
    display: inline-block;
    overflow: hidden;
}

#validBox{
    width:80%;
    display: inline-block;
    overflow: hidden;
}


label{
    color: #1e90ff;  
    font-size: 70%;
    font-weight: bold;
    
}

input{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bolder;
    border: none;
    outline: none;
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}
::placeholder{
    color: #c8c8c5;
}

#submitButton{
    font-family: 'IBM Plex Sans', sans-serif;
    color: #FFFFFF;
    font-size: large;
    font-weight: 10%;
    padding: 10px;
    background-color:#67DFD4;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

#submitButton:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 20px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}